@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

/* Color Declarations */
$white: #FFF;
$gray: #7F8C8D;
$primary: #FF0053;
$secondary: #E80C53;
$lighter: #D14B3D;

/* Declaring Variables */
$background: url("../public/wallpapers/wallpaper-5.jpg");
$transparent: transparent;

/* Font Properties */
$font: Roboto;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;