/* Byte text */
body{
  background-color: #F5F5F5; /* White Smoke Color */
}
h1{
  margin-top: .5em;
  font-size: 36px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  float: right;
}

/* MeCollege text */
span {
  letter-spacing: 2px;
  margin-top: -.25em;
  float: right;
  font-family: Calibri;
  font-size: 46px;
  font-weight: 600;
}

.loginButton{
  margin: 0;
  text-align: center;
  text-decoration: none;
  background-color: #f1c40f; /* Yellow Color */
  border-radius: 12px;
  color: purple;
}

/* Select Button */
ul li a.selectBtn{ 
  font-family: Calibri;
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: medium; 
  color: white; 
  border-radius: 12px;
  background-color: #f1c40f; /* Yellow Color */
  }

.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content a:hover, .loginButton:hover {
  color: black;
  font-weight: 800;
  background-color: #f1c40f; /* Yellow Color */
}

.dropdown:hover .dropdown-content {
  margin: -.25em 2.25em;
  display: block;
}

.dropdown-content a {
  background-color: #00569E; /* Dark Blue Color */
  border: solid .01em #999;
  box-shadow: .1em .1em .1em #F5F5F5; /* White Smoke Color */
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Navigation bar */
div#hmenu { 
  height: 66px;
  margin-top: -1em;
  margin-left: -.5em; 
  padding: .5em 0em .5em .5em; 
  background: inherit; 
  width: 110%; 
  background-color: #00569E; /* Dark Blue Color */
} 

/* Buttons to the left of the Navigation bar */
div#hmenu ul { 
  margin-top: -.05em;
  font-family: Calibri;
  font-size: 40px;
  text-align: center;
  float: left;
  list-style: none; 
  padding: 0; 
} 

div#hmenu ul li { 
  margin: 0; 
  padding: 0; 
  display: inline; 
} 

div#hmenu ul a:link{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: medium; 
  color: #F5F5F5; /* White Smoke Color */
} 

div#hmenu ul a:visited{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: medium; 
  color: white;
} 

div#hmenu ul a:active{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  color: inherit; 
} 

div#hmenu ul a:hover{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: 900; 
  font-size: medium; 
  color: black;
  background-color: #f1c40f; /* Yellow Color */
}
.style-image{
  margin-top: .25em;
  float: left;
  position: relative;
  max-width: 50px;
  max-height: 50px;
}
/* New Home (we need to delete this eventually) */

p, ol, ul, td {
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: black;
    background-color: transparent;
  }
}

th {

  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {

  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/* Edit rudy links by assigning them a class :class=> '' */;
.newHomeStyle{
  font: {
    family: 'Press Start 2P', cursive;
    weight: bold;
    size: 1.3em;
  }

}
