@import '_variables';

body{
background-color: $white-smoke !important;

}
/* background */
.navbar-default {
  background: $primary !important; /* !important overrides default bootstrap style */
  box-shadow: 5px 5px 3px 0px $gray;
  z-index: 1;
  .navbar-nav {
    >li {
      >a {color: $yellow !important; }
      >a:hover {color: $white-smoke !important; background-color: $secondary !important}
        }
              }
.navbar-form {border-color: $yellow !important;} /* active hover */
}

/* set active item to $secondary color */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active 
> a:focus {
  background-color: $secondary !important;
          }

/* 3 bar hamburger */
.icon-bar {
    background-color: $secondary !important;
}

/* button */
  .navbar-toggle{
  border-color: $white-smoke !important;
  background-color: $white !important;
  &:hover { background-color: $white-smoke !important;}
}

/* title */
.navbar-brand{
  font-family: $font;
  font-size: 2em !important;
  color: $white-smoke !important;
}

.field{
  
}

/* Byte text */
#span-byte {
  color: $yellow;
  font-family: $byte;
}

h1{
  margin-top: .5em;
  font-size: 36px;
  color: #F5F5F5; /* White Smoke Color */
  font-family: $font;
  float: right;
}

h3{
  text-decoration: none !important;
  color: $yellow !important;
  font-size: 2em;
  font-weight: 650;
  font-family: $font;
  text-align: right;
&:hover {
  text-decoration: none !important;
  color: $gray !important;
        }
}


/* Align nav-brand fonts */

.style-image{
  float: left;
  position: relative;
  max-width: 4em;
  max-height: 4em;
}

.img-center {
  z-index: -1;
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 852px;
  height: 852px;
}

.thumbnail {
  background-color: inherit !important;
  border-color: transparent !important;
}

.caption{
  &:hover{
    color: transparent !important;
    text-decoration: none !important;
  }
}

.profile {
  display: list-item;
  padding: 40px;
  width: 345px;
  height: 345px;
}

.wallpaper {
  background: $yellow url(https://zdkmlg.dm2301.livefilestore.com/y3m1ThLnQ8oY_zI-Ttvi7vZv2j2A64wEPhAzund3zyWOpepycaPJ6im2Mib6yCLmxHJ5cKqHru0wlJ40-tI56E-u0BTQbLMQtItrCKC-YWJOom66yXGzv7-o_-8LJgPK6NIHvVz4tl6QldCtCYrATcof9MGWnNBQfLsDjJinLeNlhE?width=2560&height=1600&cropmode=none) 
  no-repeat fixed;
  background-size: cover;
}

.black-box{
  opacity: .85;
  position: relative;
  margin-top: -50px;
  display: table; 
  height: 385px;
  width: 820px;
  margin: 0 auto;
  background-color: $secondary;
}

#share-buttons {
  display: table-cell;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.icon {
  background-color: inherit;
  width: 35px; 
  height: 35px;
  object-fit:cover;
  &:hover {
    opacity: 0.75;
  }
}

/* New Home (we need to delete this eventually) */
p{
  font-size: 2em;
  color: $white-smoke;
  font-weight: 650;
  font-family: $font;
  text-align: center;
}
a, p, ol, ul, td {
  display: run-in;
  text-decoration: none;
}

/* Edit rudy links by assigning them a class :class=> '' */;
.newHomeStyle{
  color: red;
  font-family: $byte;
}

hr{
  width: 25% !important;
  border-top: 2px solid $secondary !important;
}
.copyright{
  color: $secondary;
  margin: 0 auto;
  position: relative;
}