html * {
	font-family: Times New Romans;
	color:White;
}

body, * {
  box-sizing: border-box;
  background-color: #1A2327;
}

body {
  
}

tr, th, tbody, td, a {
	text-decoration: none; /* Eliminates the default text underline for links */
}

h1 {
  font-size: 21px;
  background-color: inherit;
	color: White;
	text-align: center;
}

span {
	
}

/* Unvisited link */
a:link {
  font-family: inherit;
  color: inherit;
}
a:hover, a:hover span {             /* The first 3 lines are needed to eliminate default styling */
	background-color: transparent;
    color: Black;
    text-decoration: blink;
    font-weight: bold;
}
/* Visited link */
a:visited {
  font-family: inherit;
  color: inherit;
}
/* Clicked link */
a:active {
  font-family: inherit;
  color: inherit;
}

.postButton {
	background-color: #1A2327;
    border-color: black;
    color: #fff;
    padding: 9px 37px;
    border-radius: 18px;
    float: right;
}

.postButton:hover {
	 border-color:White;
   color: Black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
    color: Black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}